<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="/static/logo.ico">
</head>
<h1>Annuaire</h1>
    <nav>
        <a href="{{ url_for('maj_profil') }}">Mise à jour de profil</a>
        <a href="{{ url_for('list') }}">Utilisateurs</a>
        <a href="{{ url_for('delete_account') }}">Suppression de compte</a>
    </nav>
    <h2>Page de Déconnexion</h2>
    <p>Vous êtes sur le point de vous déconnecter.</p>
    <form action="/logout2" method="POST">
        <input type="submit" class="login-button" value="Déconnexion">
    </form>
